/* latin-ext */
@font-face {
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 400;
  src: local('Fenix'), local('Fenix-Regular'), url(http://fonts.gstatic.com/s/fenix/v4/YIq8EzS-OhpGjuQ5I4SysQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fenix';
  font-style: normal;
  font-weight: 400;
  src: local('Fenix'), local('Fenix-Regular'), url(http://fonts.gstatic.com/s/fenix/v4/kGOpsn7ilqkwQsHyf14dHg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}