.pull-right { 
    right:0;
}

/*FIX IT. You can find bugs of its implementation at (Register, Profile) pages*/
.align-bottom {
    /*position : absolute;*/
    bottom: 0;
    /*width: 100%;*/
}


/*# Direct log messages to a log file*/
  /*log4j.appender.tomcatAppender=org.apache.log4j.FileAppender*/
                                /*log4j.appender.tomcatAppender.File=${catalina.base}/logs/parseLogs.txt*/
                                                                   /*log4j.appender.tomcatAppender.layout=org.apache.log4j.PatternLayout*/
                                                                                                        /*log4j.appender.tomcatAppender.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss} %-5p %c{4}%M:%L - %m%n*/