/* thai */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 200;
  src: local('Athiti ExtraLight'), local('Athiti-ExtraLight'), url(http://fonts.gstatic.com/s/athiti/v1/OzZoH2fxzmZzs1xng7Tk4RJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 200;
  src: local('Athiti ExtraLight'), local('Athiti-ExtraLight'), url(http://fonts.gstatic.com/s/athiti/v1/j_RQmFhOYwksw5LXMz3QJBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 200;
  src: local('Athiti ExtraLight'), local('Athiti-ExtraLight'), url(http://fonts.gstatic.com/s/athiti/v1/PxR8hMncafZhXuthtFASxxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 200;
  src: local('Athiti ExtraLight'), local('Athiti-ExtraLight'), url(http://fonts.gstatic.com/s/athiti/v1/uOMlcP0zpARl5_AzC8Ze_FtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* thai */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 300;
  src: local('Athiti Light'), local('Athiti-Light'), url(http://fonts.gstatic.com/s/athiti/v1/uQLJgrxRuppOoiV2BqjUKBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 300;
  src: local('Athiti Light'), local('Athiti-Light'), url(http://fonts.gstatic.com/s/athiti/v1/Hecfh625QS1-fJJfpEM2ohJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 300;
  src: local('Athiti Light'), local('Athiti-Light'), url(http://fonts.gstatic.com/s/athiti/v1/Hr8PhDVFvdYtci-nPgpAdRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 300;
  src: local('Athiti Light'), local('Athiti-Light'), url(http://fonts.gstatic.com/s/athiti/v1/_u250a4A3uV7uP527fjBaFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* thai */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  src: local('Athiti'), local('Athiti-Regular'), url(http://fonts.gstatic.com/s/athiti/v1/pYoQHeGXyaTSYFFZroFwBvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  src: local('Athiti'), local('Athiti-Regular'), url(http://fonts.gstatic.com/s/athiti/v1/cE0EpAzSj2z7Ci1CuJ9ScfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  src: local('Athiti'), local('Athiti-Regular'), url(http://fonts.gstatic.com/s/athiti/v1/fzjiCwJnuAIRRk4chJuDO_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 400;
  src: local('Athiti'), local('Athiti-Regular'), url(http://fonts.gstatic.com/s/athiti/v1/Qu8ThwHksrdlln0AKZNung.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* thai */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 500;
  src: local('Athiti Medium'), local('Athiti-Medium'), url(http://fonts.gstatic.com/s/athiti/v1/L6ksDmfZXDQby0KkmzKhYhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 500;
  src: local('Athiti Medium'), local('Athiti-Medium'), url(http://fonts.gstatic.com/s/athiti/v1/7-MdHiy--IHSWfIgDkmlShJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 500;
  src: local('Athiti Medium'), local('Athiti-Medium'), url(http://fonts.gstatic.com/s/athiti/v1/sMgvGTPvIe4cKHn6DJSlDBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 500;
  src: local('Athiti Medium'), local('Athiti-Medium'), url(http://fonts.gstatic.com/s/athiti/v1/IBcHkgc1LhFsu_zqATysTltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* thai */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 600;
  src: local('Athiti SemiBold'), local('Athiti-SemiBold'), url(http://fonts.gstatic.com/s/athiti/v1/2bSyUk-Na7iquNi-OK1QgBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 600;
  src: local('Athiti SemiBold'), local('Athiti-SemiBold'), url(http://fonts.gstatic.com/s/athiti/v1/gCq5LJN9EutbvYeXL-BSURJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 600;
  src: local('Athiti SemiBold'), local('Athiti-SemiBold'), url(http://fonts.gstatic.com/s/athiti/v1/kaXuMAOpl6NiWDsZop3bIRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 600;
  src: local('Athiti SemiBold'), local('Athiti-SemiBold'), url(http://fonts.gstatic.com/s/athiti/v1/LdWPPmvQ79czkxVRijrcR1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* thai */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 700;
  src: local('Athiti Bold'), local('Athiti-Bold'), url(http://fonts.gstatic.com/s/athiti/v1/Zeo-gWmGbpxZ3HS6WoK9qBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200B-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 700;
  src: local('Athiti Bold'), local('Athiti-Bold'), url(http://fonts.gstatic.com/s/athiti/v1/gq6nOdIyFH5XpoBYueEK2RJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 700;
  src: local('Athiti Bold'), local('Athiti-Bold'), url(http://fonts.gstatic.com/s/athiti/v1/J7-arghq4Q-LhhN9BRpyfRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-weight: 700;
  src: local('Athiti Bold'), local('Athiti-Bold'), url(http://fonts.gstatic.com/s/athiti/v1/bSSEVUKD-jNZ7CyXjeWW8FtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}