body {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    z-index: 0;
}
#navigation-map{
    margin: 5% 20px 100px 150px;
    padding: 20px;
}
#navigation-map a{
    text-decoration: none;
}
#nav-tool{
    padding-top: 0;
}

#read_cb, #watch_prof_cb, #write_cb, #moderate_cb
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
    margin: 10px;
}

.cb_wrapper{
    display: block;
}
/*.modal-body label::after
{
    font-size: 110%;
    display: block;
    color: white;
    content: "";
    padding: 10px;
}*/

/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #009688;
}

li {
    float: left;
}

#navigation-map{
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 100px;
    margin-right: 20px;
}
#navigation-map a{
    text-decoration: none;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: #009688;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(00,00,00,0.3);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.circle-avatar-small{
    border-radius:50%;
    width: 27px;
}
*/
.circle-avatar-medium {
    float: left;
    padding-right: 25px;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-color: rgba(0, 150, 136, 0.5);
}
.circle-avatar-medium img {
    border-radius:50%;
    max-width: 150px;
}
.ava-caption, .mark * {
    display: block;
    text-align: center;
    padding: 5px;
    font-family: 'Taviraj';
    font-weight: 700;
}

.right-align {
    float: right;
}
.left-align {
    float: left;
}

.pull-right {
    right: 0;
}

article {
    margin-bottom: 3%;
    background-color: white;
}

.user-info{
    float: left;
    width: 15%;
    padding-top: 35px;
    padding-bottom: 35px;
    display: table;
    box-sizing: border-box;
}

.meta-info{
    font-size: 0.7em;
    font-style: italic;
    font-weight: lighter;
    margin-top: 10%;
    margin-bottom: 5%;
}


.message-header{
    font-family: 'Taviraj';
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.message-wrapper{
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 50px;
    padding-right: 3%;
    padding-bottom: 1%;
    width: 80%;
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
    display: inline-flex;;
    /*overflow-x: auto;*/
    border-radius: 1%;
}

.message {
    margin-top: 30px;
    line-height: normal;
    padding-right: 5%;
    width: 70%;
    /*margin-right: 5%;*/
    display: inline-block;
    position: relative;
}

.message a{
    display: inline;
    text-decoration: none;
}




/*hr{
    display: block;
    height: 1px;
    width: 90%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}*/

.mark{
    padding: 40px 0 20px 20px;
}
.mark *{
    margin: 0 auto;
}

.pagination{
    width: 18%;
    margin: 5% 37% 8% 45%;
    display: flex;
}

.button{
    border:none;
    display:block;
    overflow:hidden;
    text-decoration:none;
    color:#000;
    background-color:#f1f1f1;
    padding: 10px 15px;
    text-align: center;
}

.select-sort{
    display: inline-block;
    font-family: 'Taviraj';
    color: #009688;
    font-size: 18px;
}
.select-wrapper{
    /*background-color: #ffff00;*/
    display: inline-block;
    margin-top: 5%;
    margin-left: 5%;
}

.pagination .button:hover{
    color:#fff;
    background-color:#009688;

}

.message-tool{
    display: block;
    padding-top: 40px;
    padding-right: 40px;
}

.message-tool button{
    /*margin: 1%;*/
    margin-bottom: 10%;
    color: #009688;
    background-color: inherit;
    border-radius: 6%;
    border: 1px solid #009688;
}

.message-tool.full-width button {
    width: 100%;
}

.message-tool button:hover{
    background-color: #009688;
    color: white;
    cursor: pointer;
}
.message-tool button:disabled{
    color: rgba(244,67,54,0.9);
    border-color: rgba(244,67,54,0.9);
}
.message-tool button:disabled:hover{
    color: white;
    background-color: rgba(244,67,54,0.9);
}

.topic-manage{
    margin-left: 5%;
    color: #009688;
    display: flex;
}

.editable{ background:red;}
.line{display: inline-block;}

/*---------MODAL WINDOW-----------*/

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 25%;
    bottom: 25%;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.85);
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: relative;
    bottom: 0;
    /*background-color: #fefefe;*/
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    padding-right: 15px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgba(244,67,54,0.9);
    text-decoration: none;
    cursor: pointer;
}
/*#5cb85c*/
.modal-header {
    width: 100%;
    font-family: 'Taviraj';
    padding: 8px 0px;
    background-color: rgba(92,184,92,0.85);
    color: white;
}
.modal-header h2{
    padding-left: 15px;
}
.modal-body{
    padding: 8%;
    width: 80%;
    height: 200px;
}
.modal-body textarea{
    margin-left: 6%;
    width: 120%;
    height: 200px;
    resize: none;
    display: flex;
    background: inherit;
    border-color: rgba(92,184,92,0.9);
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color:white;
}
.modal-body .header{
    width: 100%;
    height: 60px;
    margin-top: 1%;
    margin-bottom: 2%;
    resize: none;
    display: flex;
    /*background: inherit;
    border-color: rgba(92,184,92,0.9);
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color:white;*/
}

.action-btn{
    margin: 40px;
    padding-top: 40px;
    padding-bottom: 20px;
    position: sticky;
    /*position: static;
    padding: 50px;
    margin: 50px;*/
}

#send_answer, #cancel_answer{
    position: relative;
    color: white;
    margin-left: 8%;
    margin-bottom: 2%;
    margin-top: 10%;
    border-radius: 6%;
    border: 1px solid rgba(92, 184, 92, 0.9);
    display: inline-block;
    background-color: inherit;
    cursor: pointer;
    float: left;
}

#cancel_answer{
    float: right;
    margin-right: 8%;
    border-color: rgba(244,67,54,0.9);
}
#send_answer:hover{
    color: white;
    background-color: rgba(92,184,92,0.9);
}
#cancel_answer:hover{
    color: white;
    background-color: rgba(244,67,54,0.9);
}


 /*Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/*---------END MODAL WINDOW-----------*/


table {
    position: relative;
    margin-left: 5%;
    margin-right: 2%;
    width: 100%;
    display: block;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #009688;
    color: #fff;
}

tr:hover{
    cursor: pointer;
}
.remove:hover{
    color: rgba(244,67,54,0.9);
}




/*MEDIA*/

@media screen and (max-width: 600px){
    .circle-avatar-medium{
        border-width: 0px;
        float: none;
        display: block;
        /*display: inline;*/
        /*float:right;*/
        margin-right: 3%;

    }
    .user-info {
        display: table;
        padding-left: 10%;
        /*display: inline;*/
        /*float:right;*/
    }
    .message-header, .message{
        display: table;
        padding-left: 10%;
    }
    header nav ul li{
        float: none;
    }
    .message-wrapper{
        display: inline-block;
    }
    .meta-info, meta-info *{
        display: block;
        float: left;
    }
    .mark{
        display: inline;
        vertical-align: middle;
    }
    .message-tool, message-tool * {
        display: inline-block;
        margin: 0% 40%;
    }


    #navigation-map{
        margin-left: 2%;
    }
    .topic-manage{
        /*margin: 5%;*/
        margin-left: 1%;
        /*border-color: #ff0000;*/
    }
    .topic-manage .message-tool{
        display: block;
        margin-left: 5%;
    }
    .select-wrapper{
        display: block;
        float:left;
        margin-left: 3%;
    }
    .margin-3{
        margin: 0% 3%;
    }

    #send_answer, #cancel_answer{
        display: block;
        margin-left: 20px;
        margin-top: 20px;
        float: left;
    }
}
html, body{
    height: 100%;
}
.main-container {
    min-height: 100%;
    padding-bottom: 70px;
}